

body {
    max-width: 55em;
    min-width: 20em;
    margin: auto;
    background: url("tlo.jpg") round repeat;
}


header {
    margin: 0 0.4em;
    padding: 0.25em 1em 0.25em 1em;
    text-align: center;
    font-family: Century, serif;
    background: linear-gradient(#0a002b, #010c44, #15095f, #16005f);
    color: #f3f9f9;
}

#container {
    width:100%;
    max-width:1080px;
    margin: 1em auto 0 auto;
    background-color:#fff;
    padding:0 0.5em;
}

#window {
    margin: 0 0.7em 1em 0.7em;
    padding: 0 0.1em 0.1em 0.1em;
    background-color: #150e2b;
    box-shadow: 0 3px 3px 3px rgba(20, 2, 3, 0.7);
    transition: 0.3s;
}

.topTitle {
    font-size: 2.3em;
    color: #EEEEEE;
    font-style: normal;
    text-decoration: none;
    transition: color 0.5s, color 0.5s;
}

.topTitle:hover {
    color: #cd4f00;
}

.topSubtitle {
    color: #f3cd9f;
    font-weight: 700;
    font-size: 2.2em;
}

.topContentTitle {
    text-align: center;
}

.content {
    padding: 1em 0.7em 0.4em 0.7em;
    margin: 0 0.4em 0.6em 0.4em;
    text-align: justify;
    font-family: Calibri, sans-serif;
    background-color: #cfd2d7;
    color: #091c21;
    min-height: 24em;
}



#face {
    background-image: url("twarz.png");
    float: right;
    width: 200px;
    max-width: 9em;
    max-height: 13em;
    border-radius: 12px;
    margin: 0.2em 0.2em 0.1em 0.7em;
    opacity: 1;
}

#face:hover {
    opacity: 0.9;
    box-shadow: 0 3px 3px 3px rgba(6, 32, 35, 0.78);
}

#menu {
    min-width: 10em;
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0.3em 0.1em 0.2em 0.1em;
    padding: 0 0.1em 0.2em 0.1em;
}


#descSection {

}

.row {
    padding: 0;
    width: auto;
    margin: 0.5em 0 1em 0;
    height: inherit;
    text-align: start;
}


.row::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}


.colLeft {
    width: 98%;
    margin: 0.1em 0.1em 0.1em 0.1em;
    padding: 1px;
}


.colRight {
    width: 98%;
    margin: 0.1em 0.1em 0.1em 0.1em;
    padding: 1px;
}


@media screen and (min-width: 450px)
{
    .colRight {
        float: right;
        width: 47%;
        margin: 0.1em 0.1em 0.1em 0.4em;
    }

    .colLeft {
        width: 47%;
        float: left;
        margin: 0.1em 0.4em 0.1em 0.1em;
    }

    header {
        margin: 0 0.4em;
        text-align: left;
    }

    .content {
        text-align: start;
    }
}

.menu-h
{
    list-style: none;
    margin: 0;
    padding: 0 0 0 0.15em;
    background-color: inherit;
    overflow: hidden;
    color: #476ba3;
}
.menu-h li
{
    float:left;
    margin: 0 0.25em 0 0.25em;
}

.menu-h li * {
    text-align: center;
    font-family: Calibri, sans-serif;
}

.menu-h a
{
    display: block;
    background: #0b216a;
    color: #e0f6d5;
    border-radius: 1px;
    font-weight: 300;
    font-size: large;
    padding: 0.3em;
    text-decoration-line: none;
}
.menu-h a:hover
{
    background-color: #bc0e09;
    color: #e8f5da;
}

#array {
    font-size: large;
    font-weight: 800;
    color: #d3502e;
    padding-top: 0.15em;
}

#location {
    display: block;
    background: #691316;
    color: #e0f6d5;
    border-radius: 2px;
    font-weight: 300;
    font-size: large;
    padding: 0.3em;
    text-decoration-line: none;
font-family: Calibri, sans-serif;
}


